{% extends 'base.html' %}


{% block content %}

  <div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
      <p>
        <!--언제 가입을 했는지 보여줌-->
        <!--이렇게 (1)처럼 적으면 접속한 user 즉, 나의 정보가 보임.
        하지만 다른 사람의 페이지에 들어가면 그 사람의 정보를 나오게 하고 싶음-->
        <!--즉, 다른 사람이 내 페이지에 왔을 때, 그 사람의 정보가 아닌 내 정보를
        볼 수 있도록 해야 함.-->
        <!--(1) {{ user.date_joined }}-->
        <span style="font-weight: bold">With us since </span>
        <span>{{ target_user.date_joined }}</span>
      </p>


      {% if target_user.profile %}
      <!--이미지 추가-->
      <img src="{{ target_user.profile.image.url }}" alt=""
           style="height: 12rem; width:12rem; border-radius: 10rem;
                  margin-bottom: 0.5rem; object-fit: cover;">

      <p style="margin-bottom: 0.1rem;">
        <span style="font-family: 'NanumSquareB'; font-size: 150%">
          {{ target_user.profile.nickname }}
        </span>
               <!--Logout하면 edit 안 보이게-->
              {% if target_user == user %}
              <span>
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #aaa; font-size: 120%;"
                   href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        edit
                </a>
              </span>
              {% endif %}
      </p>

      <!--대화명-->
      <h5 style="margin-bottom: 2rem;">
        {{ target_user.profile.message }}
      </h5>

      {% else %}
          {% if target_user == user %}
          <a href="{% url 'profileapp:create' %}">
            <h2 style="font-family: 'NanumSquareB">
              Create Profile
            </h2>
          </a>
          {% else %}
          <h2>
              This user didn't create the profile!
          </h2>
          {% endif %}
      {% endif %}


      {% if target_user == user %}

         <a class="material-icons"
            style="box-shadow: 0 0 4px #aaa; font-size: 120%;"
            href="{% url 'accountapp:update' pk=user.pk %}">
             settings
         </a>



         <a class="material-icons"
            style="box-shadow: 0 0 4px #faa; font-size: 120%;"
            href="{% url 'accountapp:delete' pk=user.pk %}">
             cancel
         </a>

      {% endif %}

    </div>
    <div>
      {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
  </div>
{% endblock %}