{% extends 'base.html' %}

{% block content %}
    <div style="border-radius: 1rem; margin: 2rem; text-align: center">
        <h1 style="font-family: 'lobster', cursive;">
            Hello World LIST!
        </h1>

        <!--form은 POST를 사용하기 위해 데이터를 담는 Body 역활을 함-->
        <!--action내부의 url에 post 방식으로 요청을 보내겠다는 뜻.-->
        <!--Django에서 post로 서버에 요청을 보낼 때 csrf토큰을 form안에 명시한다-->
        <!--1층: type은 text이고, 구분자로 name을 사용하여 2층과 구분한다-->
        <!--name:"hello_wolrd_input"의 이름을 가진 내용을 input 태그에 담아서 서버에 보냄-->
        <!--if문에서 view에서 만든 model의 객체를 저장한 이름인 hello_world_output를 갖고 와서
        그것의 속성을 출력함-->
        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <!--1층-->
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <!--2층-->
            <div>
                <input type="submit" class="btn btp-primary" value="POST">
            </div>
        </form>

        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
        <h1>
                {{ hello_world.text }}
        </h1>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}