<div style="border: 1px solid; text-align: left;
            padding: 0.2%; margin: 1rem 0; border-radius: 1rem;
            border-color: #bbb;">
  <div>
      <strong>
        {{ comment.writer.profile.nickname }}
      </strong>
        &nbsp&nbsp&nbsp
      <line style="font-size: 80%;">
        {{ comment.created_at }}
      </line>

      {% if comment.writer == user %}
      <line style="text-align: right;">
        <a href="{% url 'commentapp:delete' pk=comment.pk %}"
           style="text-decoration-line : none;">
            ❌
        </a>
      </line>
      {% endif %}
  </div>

  <div style="margin: 0.5rem 0;">
      {{ comment.content }}
  </div>
</div>