{% extends 'base.html' %}


{% block content %}

  <div>
    <h5 style="font-size: 110%; margin-top: 4rem;
                 text-align: center;">
          {{ target_project.created_at }}
    </h5>

    <div style="text-align: center; max-width: 500px; margin: 1.1rem auto">

        <!--이미지 추가-->
      <img src="{{ target_project.image.url }}" alt=""
           style="height: 16rem; width: 16rem; border-radius: 1rem;
           margin-bottom: 2rem; object-fit: cover;">

      <div>
        <h1 style="font-family: 'NanumSquareB';">
          {{ target_project.title }}
        </h1>

        <h3 style="margin-bottom: 1.5rem;">
          {{ target_project.description }}
        </h3>

        {% if target_project.writer.profile %}
        <div style="margin-top: 5rem;">
          <h5 style="margin-bottom: 0;">Created by</h5>
          <a href="{% url 'accountapp:detail' pk=target_project.writer.pk %}">
              <line style="font-family: NanumSquareB; font-size: 1.2rem;">
                  {{ target_project.writer.profile.nickname }}
              </line>
          </a>
        </div>
        {% else %}
        <div style="margin-top: 5rem;">
          <h5 style="margin-bottom: 0;">Created by</h5>
          <a href="{% url 'accountapp:detail' pk=target_project.writer.pk %}">
              <line style="font-family: NanumSquareB; font-size: 1.2rem;">
                An User with No-Profile
              </line>
          </a>
        </div>
        {% endif %}



        <div class="text-center;">
          {% if user.is_authenticated %}
            {% if not subscription %}
              <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}"
                 style="font-family: 'NanumSquareEB'; width: 40%; height: 40%; margin-bottom: 2rem;"
                 class="btn btn-primary rounded-pill px-4 mt-3">
                 Follow
              </a>
            {% else %}
              <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}"
                 style="font-family: 'NanumSquareEB'; width: 40%; height: 40%; margin-bottom: 2rem; color;"
                 class="btn btn-secondary rounded-pill px-4 text-dark">
                 Following
              </a>
            {% endif %}
          {% endif %}
        </div>

      </div>
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

  </div>

{% endblock %}