<!DOCTYPE html>
<html lang="en">

<!--head-->
{% include 'head.html' %}


<body style="font-family: 'NanumSquareR';">
<!--상-->
    {% include 'header.html' %}


<!--중    -->
    <hr>

    {% for message in messages %}
        <div class="text-center">
            <div class="btn btn-{{ message.tags }} rounded-pill px-5 my-3">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}


<!--하    -->
    <hr>
    {% include 'footer.html' %}

</body>
</html>