{% extends 'base.html' %}


{% block content %}

  <div>
    <div style="text-align: center; max-width: 700px;
                font-family: NanumSquareR; margin: 4rem auto">
        <h1>
            {{ target_article.title }}
        </h1>

        <h3 style="font-family: NanumSquareL">
            By
        </h3>
        <h3 style="font-family: NanumSquareB">
            {{ target_article.writer.profile.nickname }}
        </h3>

        <hr>

        <img src="{{ target_article.image.url }}" alt=""
             style="width: 40%; height: 40%;
                    border-radius: 2rem; margin: 0.5rem;">

        <p style="font-family: Nanum">
            {{ target_article.content }}
        </p>

        {% if target_article.writer == user %}
        <div>
            <a href="{% url 'articleapp:update' pk=target_article.pk %}"
               style="text-decoration:none;">
                <h6 style="font-size: 95%"
                    class="btn btn-dark rounded-pill col-3">
                    Update Article
                </h6>
            </a>
            <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
               style="text-decoration:none;">
                <h6 style="font-size: 95%"
                    class="btn btn-danger rounded-pill col-3">
                    Delete Article
                </h6>
            </a>
        </div>
        {% endif %}

        <hr>
        <!--for문에서 target_article에서 foregin key로 묶여 있는 comment들을
        모두 갖고 오겠다는 것.-->
        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}

        <!--comment작성하는 html을 갖고와서 박기-->
        <!--create.html내의 article을 현재의 target_article과 동기화를 시켜준다-->
        <!--동기화가 되었으므로, create.html에서 동기화 된 article 변수를 사용할 수
        있게 되므로 name='article_pk'라는 이름의 hidden 타입의 input의 value에 동기화 된
        articled의 pk를 넣어 서버로 보낼 수 있게 됨-->
        {% include 'commentapp/create.html' with article=target_article %}

    </div>

  </div>

{% endblock %}