{% extends 'base.html' %}
{% load static %}

<!--JS의 MagicGrid 사용-->
<!--순서대로 CSS, HTML, JS-->
{% block content %}

<!--.container img사용해서 container 내부의 img로
가득 채울 수 있음-->
<style>
.container div {
  width: 250px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
}

.container img {
  width: 100%;
  border-radius: 1rem;
}
</style>

<!--TEST로 Lorem Picsum사용-->
<!--여기의 url로 특정 width와 height로 요청을 보내면 random이미지 하나 줌-->

<!--수정하여-->
<!--with에서 for문의 article을 card.html내부에서 쓸 article로 사용하겠다라는 말.-->

    {% if article_list %}
      <div class="container">
        {% for article in article_list %}
          <a href="{% url 'articleapp:detail' pk=article.pk %}">
            {% include 'snippets/card.html' with article=article%}
          </a>
        {% endfor %}
      </div>

      <!--static에서 js폴더 아래의 -->
      <script src="{% static 'js/magicgrid.js' %}"></script>

    {% else %}
      <div class="text-center">
        <h1>No Articles Exist!</h1>
      </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj%}


    <div style="text-align: center;">
      <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
        Create Article
      </a>
    </div>

{% endblock %}


